<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dealership Review</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href=< !-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
    <header id="main-header">
        <nav id="header-nav" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="pull-left visible-md visible-lg">
                        <div id="logo-img">
                            <!-- <img src="../images/logo-150.jpg" alt="Company logo"> -->
                        </div>
                    </a>

                    <div class="navbar-brand">
                        <a href="index.html">
                            <h1>About Us</h1>
                        </a>
                        <p>Car dealer network</p>
                        <a href="registration.html">
                            <span id="login-button">Contact Us!</span></a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="collapsable-nav" class="collapse navbar-collapse">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                        <li>
                            <a href="add_review.html">
                                <span class="glyphicon glyphicon-check"></span><br class="hidden-xs"> Add Review</a>
                        </li>
                        <li>
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span><br class="hidden-xs"> Home</a>
                        </li>
                        <li>
                            <a href="registration.html">
                                <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs"> Register</a>
                        </li>
                        <li id="phone" class="hidden-xs">
                            <a href="tel:099-111-2233">
                                <span id="phone-number">099-111-2233</span></a>
                        </li>
                    </ul>
                    <!-- #nav-list -->
                </div>
                <!-- .collapse .navbar-collapse -->
            </div>
            <!-- .container -->
        </nav>
        <!-- #header-nav -->
    </header>

    <div class="container" id="main-content">
        <h2>
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h2>
        <table>
            <tr>
                <th>Dealer</th>
                <th>Contact person</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>VAG Tokyo </td>
                <td>Yukio Shimamura</td>
                <td>+111 222 3333</td>
            </tr>
            <tr>
                <td>VAG Mexico </td>
                <td>Rick Sanches</td>
                <td>+222 333 4444</td>
            </tr>
            <tr>
                <td>VAG Mumbai</td>
                <td>Rajiv Kumar</td>
                <td>+333 444 5555</td>
            </tr>
        </table>
    </div>

    <footer class="footer">
        <div class="copyright">
            <span> &copy;2022 AV_Master</span>
        </div>
    </footer>

</body>

</html>